.landing {
  height: 663px;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position-y: -100px;
  padding: 0px;
}

.terms {
  background-color: whitesmoke;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

.header {
  position: absolute;
  top: 0;
  z-index: 5;
  margin: 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(5, 32, 92, 0.712);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content {
  color: white;
  text-align: center;
  height: auto;
}

.d1 {
  font-size: 24px;
  font-weight: 400;
}

.d2 {
  font-size: 28px;
  font-weight: 700;
}

.d3 {
  font-size: 18px;
}

.butContact {
  border: 2px solid white;
  padding: 12px 5px 12px 5px;
  font-weight: 600;
  border-radius: 4px;
}

.butContact:hover {
  background-color: white;
  color: rgba(0, 32, 92, 0.712);
  cursor: pointer;
}

.midContent {
  background-color: rgb(221, 221, 221);
  min-height: 700px;
  padding: 70px 20px 70px 20px;
}

.midTop {
  text-align: center;
}

.midBody {
  height: 300px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card {
  border: 1px solid grey;
  background-color: transparent;
  height: 200px;
  padding: 15px;
  border-radius: 0px;
}

.topCard {
  display: flex;
}

.icon {
  color: grey;
  font-size: 28px;
}

.footer {
  height: 70px;
  background-color: rgb(5, 3, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(198, 236, 252);
  font-size: 14px;
}

.slide {
  color: white;
  background-color: rgba(4, 115, 219, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40%;
  padding: 0px 0px 20px 20px;
  min-height: 150px;
}

.sTitle {
  font-size: 24px;
  font-weight: 600;
  margin-right: 20px;
}

.sDesc {
  font-size: 16px;
  margin-right: 20px;
}

.forme {
  display: flex;
  margin-right: 20px;
}

.btnCount {
  color: white;
  font-weight: 600;
  height: 30px;
  padding: 0px 10px 0px 10px;
}

.email {
  border-radius: 0px;
  height: 30px;
}
